@import "tailwindcss";

@theme inline {
  --font-bebas: var(--font-bebas);
  --font-indie: var(--font-indie);
}

.teste {
 animation: testee 500ms alternate infinite ;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@keyframes testee {
  0% {
    box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 10px 1px red;
  }
}