@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-bebas: var(--font-bebas);
  --font-indie: var(--font-indie);
  --font-delius: var(--font-delius);
  --font-courier: var(--font-courier);
  --font-concert: var(--font-concert);
}

.teste {
  animation: testee 500ms alternate infinite;
}

.container {
  max-width: 1240px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

@keyframes testee {
  0% {
    box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 0);
  }

  100% {
    box-shadow: inset 0 0 10px 1px red;
  }
}