@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Satisfy&display=swap');
@import "tailwindcss";

.teste {
 animation: testee 500ms alternate infinite ;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.font-indie {
  font-family: "Indie Flower", cursive;
  /* font-weight: 400;
  font-style: normal; */
}

.font-satisfy {
  font-family: "Satisfy", cursive;
  /* font-weight: 400;
  font-style: normal; */
}

.font-bebas {
  font-family: "Bebas Neue", sans-serif;
  /* font-weight: 400;
  font-style: normal; */
}

@keyframes testee {
  0% {
    box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 10px 1px red;
  }
}